.block {
    border: 12px solid red;
    width: 200px;
    height: 80px;

}
.move{

}
.boldLine {
    width: 670px;
    height: 12px;
    background-color:#000000;

}
.thikLine{
    height: 4px;
    background-color: red;
}
.Row {
    display: table;
    table-layout: fixed; /*Optional*/

}
.Column {
    display: table-cell;


}

